## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [ ]:
# Your code here - remember to use markdown cells for comments as well!

In [4]:
#imports
import pandas as pd
import csv
import json

In [38]:
movie_gross = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
movie_info = pd.read_csv('zippedData/rt.movie_info.tsv.gz', delimiter = '\t')
movie_reviews = pd.read_csv('zippedData/rt.reviews.tsv.gz', delimiter = '\t', encoding= 'latin1')
movies = pd.read_csv('zippedData/tmdb.movies.csv.gz')
movie_budgets = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')

In [48]:
movie_gross.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [ ]:
#Data Cleaning 1
#Highest grossing movie analysis

In [ ]:
#Data Cleaning 2
#big/popular franchise movies

In [ ]:
#Charts and Graphs 1

In [ ]:
#Charts and Graphs 2